@import 'tailwindcss';

@theme {
  --font-body: "Degular", "sans-serif";
  --color-primary: #131316;
  --color-gray: #EFF1F6;
  --color-gray-400: #56616B;
}

@font-face {
  font-family: "Degular";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/degular-regular.otf");
}